.footer{
    background: rgb(241, 211, 211);
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    border-radius: 2rem;
    border: 0.2rem solid black;
    }
    
    .footer .row{
    width:97%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:black;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    list-style-type: none;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    